<div>
    <snap-drawer>
        <div class=snap-menu>
            <div class="sidebar-header text-center">
                <img src=images/flat-avatar.png class="sidebar-img img-circle">
            </div>
        </div>
    </snap-drawer>
    <snap-content snap-opt-tap-to-close=false>
        <div class=jumbotron>
            <div class=container>
                <form th:action="@{/logout}" method="POST">
                    <input type="submit" value="LOGOUT"/>
                </form>

                <form role=form class=bottom-75 ng-submit=submit()>
                    <div class=table-form>
                        <div class=form-groups>
                            <div class=form-group>
                                <input type=text class="form-control input-sm" placeholder=NAME>
                            </div>
                        </div>
                        <div class=button-container>
                            <button type=submit class="btn btn-default login">
                                <img src=images/arrow.png>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </snap-content>
</div>